*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #F7EFDA;
}
body{
background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)), url("/img/coffee-shop.jpg");
background-size: cover;
background-position: center;
}
.banner{
    width: 100%;
    height: auto;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:120px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-flex;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #F7EFDA;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px ;
    width: 0;
    background: #DF949D;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
/*this adds a line at the bottom of the screen, but you have to add position to relative in .nav ul li if you want it under the anchor tags. */
.navbar ul li:hover:after{
    width: 100%;
}

#pastry{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5em;
}
/*.pastry{*/
/*    width: 30%;*/
/*    height: auto;*/
/*    padding: 20px 0;*/
/*    margin: 0;*/
/*}*/
.pastry p{
    font-size: 15px;
    font-family: sans-serif;
    color: #F7EFDA;
    padding: 5px 0;
}
.pastry h3{
    display: none;
}
.pastry h2{
    font-size: 20px;
    font-family: sans-serif;
    color: #F7EFDA;
}
.category-button {
    background-color: #DF949D;
    font-size: 10px;
    color: black;
    cursor: pointer;
}
#pastry-search{
    width: 200px;
    height: 30px;
    background-color: #F7EFDA;
    color: #6F5E4F;
    border: #F7EFDA;
}
h3{
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
    font-style: italic;
}

#search-pastry{
    font-size: 20px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 767px) {
    img{
        width:100px;
        height:90px;
    }
    .pastry{
        width: 30%;
        height: auto;
        padding: 20px 0;
        margin: 0;
    }
    .category-button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 20px;
    }
}

/*medium screens*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    img {
        width: 130px;
        height: 110px;
    }
    .pastry{
        width: 20%;
        height: auto;
        padding: 20px 0;
        margin: 0;
    }

    .category-button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 20px;
    }
}

/*Large screens*/
@media screen and (min-width: 992px){
    .pastry{
        width: 20%;
        height: auto;
        padding: 20px 0;
        margin: 0;
    }
    img{
        width:180px;
        height:150px;
    }
    .category-button {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 0 20px;
    }

}

